{{> message}}
<ul>
  <li>
    <form action="/todos" method="post" style="display: inline;">
      <input type="text" name="name" placeholder="請輸入 todo name" required>
      <button type="submit">create</button>
    </form>
    <a href="/todos">back</a>
  </li>
</ul>